body {
  /* height: 100vh; */
  background-image: url(/assets/mountains-universe-1\ 1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.page-home {
margin: 13rem auto 0;
display: flex;
flex-direction: column;
align-items: center;
}